.modal-header
{
	background: #3498db!important;
	color: white!important;
	font-weight: bold!important;
}
.modal-title
{
	font-weight: bold!important;
}
.modal-content
{
	border-radius:0px!important; 
}

.page-title
{
	font-size: 20px;
	font-weight:bold; 
}
